{{ define "main" }}
{{ $cover := .Params.cover }}

<div class="home-banner">
    {{ with .Params.cover }}
    <img src="{{ $cover | safeURL }}"/>
    {{ end }}
    <div class="home-header-inside">
        <div class="home-header-content">
            <div class="image">
                <img src="/img/illu-home.png"/>
            </div>
            <div class="text">
                <img src="/img/ferale.png"/>
                <h2>LIMINAL MARKER * MEDICINE WOMAN</h2>
My work as a tattoo artist goes far beyond the aesthetic. It is a sacred responsibility, rooted in my deep commitment to the path of shamanism. This practice is not one I take lightly, it is a lifelong journey of discipline, integrity, and spiritual connection. Each piece I create is born from a space of reverence, both for the ancient symbols I work with and for the individuals who entrust me with their skin and spirit.
            </div>
        </div>
        <div class="rough-border"></div>
    </div>
</div>
<article>
    <div class="wrap">
        <div class="article-content">
            <div class="big-page-previews">
                <div class="big-page-preview">
                    <a class="card" href="/tattoo">
                        <h2>Tattoos</h2>
                        <img src="/img/tattoos.jpg"/>
                    </a>
                    <div class="desc">Ancient designs for contemporary minds.</div>
                </div>
                <div class="big-page-preview">
                    <a class="card" href="/tattoo/blackouts">
                        <h2>Blackouts</h2>
                        <img src="/img/blackouts.jpg"/>
                    </a>
                    <div class="desc">Turn your skin into a radical black velvet.</div>
                </div>
                <div class="big-page-preview">
                    <a class="card" href="/tattoo/liminal-marks">
                        <h2>Liminal Marks</h2>
                        <img src="/img/liminal-marks.jpg"/>
                    </a>
                    <div class="desc">Ritual tattoos to accompany your transformational journey on a spiritual level.</div>
                </div>
                <div class="big-page-preview">
                    <a class="card" href="/tattoo/flash">
                        <h2>Flash</h2>
                        <img src="/img/FLASH.jpg"/>
                    </a>
                    <div class="desc">Available designs to be adapted to your unique body.</div>
                </div>
                <div class="big-page-preview full">
                    <a class="card" href="/tattoo/flash">
                        <h2>Shamanic Healing</h2>
                        <img src="/img/shamanic-healing.jpg"/>
                    </a>
                    <div class="desc">Mediating between the physical and spiritual realms to access spiritual guidance and rituals. The goal is to identify and heal emotional, physical, or spiritual imbalances by retrieving lost soul parts, removing negative energies, and restoring harmony within the individual and their environment. This holistic approach emphasizes the interconnectedness of all life and the importance of spiritual well-being for overall health. </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="wrapper-outline">
                <a class="button" href="/bookings/">BOOKINGS</a>
            </div>
            <div class="gallery">
                <img src="/img/liminal-marks/61.jpg"/>
                <img src="/img/liminal-marks/25.jpg"/>
                <img src="/img/liminal-marks/21.jpg"/>
            </div>
        </div>
    </div>
</article>
<div class="home-content-wrapper hidden">
    <div class="home-content">
        <img src="/img/illu-home.png"/>
        <h1>Ferale liminal marks</h1>
        <a href="https://www.instagram.com/ferale.primevaltattooing/">instagram</a>
    </div>
</div>

{{ end }}