{{ define "main" }}
{{ $cover := .Params.cover }}

<article>
    <div class="article-header">
        {{ with .Params.cover }}
        <img src="{{ $cover | safeURL }}"/>
        {{ end }}
        <div class="title">
            <div class="small-wrap">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="rough-border"></div>
    </div>
    <div class="small-wrap"> 
        <div class="article-content">
        {{ .Content }}
        <div class="spacer"></div>
        <form action="https://formsubmit.co/contact@liminalmarks.com" method="POST">
            <fieldset>
                <legend>Get in touch</legend>
                <label for="email">Email</label>
                <input id="email" name="email" required type="email"/>
                <input type="hidden" name="_subject" value="New message from contact form">
                <label for="content">Message</label>
                <textarea id="content" name="content" required></textarea>
                <input type="hidden" name="_next" value="https://liminalmarks.com/thank-you">
                <button type="submit">Send message</button>
            </fieldset>
        </form>
        </div>
    </div>
</article>
{{ end }}