{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul class="main-menu" id="mobile-menu">
        <li class="logo">
            <a href="/" class="home-link"><img src="/img/logo.png"/></a>
        </li>
        <li id="close-mobile-menu" onclick="getElementById('mobile-menu').classList.toggle('open');">
            <img src="/img/close-mobile-menu.png"/>
        </li>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        <li>
            <a class="insta-link" href="https://www.instagram.com/ferale.primevaltattooing/">
                <img src="/img/insta.png"/>
                <img class="dark" src="/img/insta-dark.png"/>
            </a>
        </li>
    </ul>
    <div class="mobile-menu-button" onclick="getElementById('mobile-menu').classList.toggle('open');">
        <img src="/img/mobile-menu.png"/>
    </div>
    <a class="booking-button" href="/bookings">
        Bookings
    </a>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
